.github-projects {
    background-color: white;
}
.imgCard1 {
    opacity: 1;
    transition: opacity 1s ease 0s;
}
.headerProject {
    padding: 1.5rem 0;
    background-color: white;
}

.card1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.headerProject img {
    height: 25rem;
    height: auto; /* Altura ajustável */
    aspect-ratio: 16/9; /* Força a proporção widescreen (mockup) */
    width: 30rem;
    margin-top: 5rem;
    border-radius: 20px;
    object-fit: cover; /* Garante que a imagem cubra o espaço sem esticar */
    object-position: top; /* Prioriza o topo da imagem no corte */
}

.textCard1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    color: #9c9c9c;
}

.btn-card {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.headerProject {
    padding: 0;
}
.custom-shape-divider-top-1725584300 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1725584300 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1725584300 .shape-fill {
    fill: #080808;
}

/* FADE DIVIDER */

.page {
    padding: 40px;
}

.dashed-divider {
    margin: 20px 0;
}

.dashed-divider {
    border: none;
    border-bottom: 3px dashed;
}

.footer {
    padding: 8rem 0 0 0;
}

@media screen and (max-width: 768px) {
    .headerProject {
        padding: 0;
        background-color: white;
    }

    .card1 {
        flex-direction: column;
    }

    .headerProject img {
        height: auto;
        width: 90%;
        margin-top: 2rem;
        max-height: 25rem;
    }

    .textCard1 {
        padding: 2rem 1rem;
    }
}
